# Ignore all files created by experiments
s5/data/
s5/exp
s5/logios.log
s5/core.*
s5/conf
s5/mfcc
s5/mfcc_hires
bin
include
lib
lib64
pip-selfcheck.json
pyvenv.cfg
s5/wav2vec_projects/example-audio
s5/myST_local/wav2vec2-base-myST-20210627
s5/myST_local/wav2vec2-base-myST-20210628
s5/myST_local/wav2vec2-base-myST-20210628-2
s5/myST_local/wav2vec2-base-myST-20210628-3
s5/myST_local/wav2vec2-base-myST-20210628-4
s5/wav2vec_projects/wav2vec2-base-timit-demo
