# Ignore all files created by experiments
*.nfs*
s5/data/
s5/exp
s5/logios.log
s5/core.*
s5/conf
s5/mfcc
s5/mfcc_hires
bin
include
lib
lib64
pip-selfcheck.json
pyvenv.cfg
s5/wav2vec_projects/example-audio
s5/myST_local/2021*/
s5/myST_local/vocab_*
s5/OGI_local/2021*/
s5/OGI_local/vocab_*
s5/myST-OGI_local/2021*/
s5/myST-OGI_local/vocab*
s5/TLT_local/2021*/
s5/TLT_local/vocab*
